Package: com.kaitouiet.changemyoldies
Name: ChangeMyOldies
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Change "No Notifications" Text On Notification Center!
Maintainer: Kiet Ha
Author: Kiet Ha
Section: Tweaks
